.header {
    display: flex;
}

.h_logo {
    width: 200px;
    height: 120px;
    background-color: #add8e6;
}

.h_logo img {
    object-fit:contain;
    width: 100%;
    height: 100%;
}

.h_right {s
    display: flex;
    flex-flow: column;
    text-align: right;
}

.h_r_top {
    width: 800px;
    height: 60px;
    background-color: #87ceeb;
    vertical-align:middle;
}

.h_r_bottom {
    width: 800px;
    height: 60px;
    background-color: #00ffff;
}