:root {
    --bgc-1: #87ceeb;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.header {
    display: flex;
    width: 1000px;
    height: 120px;
    justify-content: center;
}

.h_logo {
    width: 200px;
    height: 120px;
    background-color: #add8e6;
}

.h_logo img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.h_right {
    display: flex;
    flex-flow: column;
    text-align: right;
}

.h_r_top {
    display: table;
    width: 800px;
    height: 60px;
    background-color: var(--bgc-1);
}

.h_r_bottom {
    display: table;
    width: 800px;
    height: 60px;
    background-color: #00ffff;
}

.h_r_phr {
    display: table-cell;
    vertical-align: middle;
}

.post_table {
    width: 800px;
    margin: 10px auto;
    text-align: left;
}

.headline {
    border: solid;
    border-color: white;
    background-color: var(--bgc-1);
}

.posts {
    border: solid;
    border-color: white;
    background-color: #e0ffff;
}

.footer {
    display: flex;
    width: 1000px;
    height: 50px;
    background-color: #00ced1;
    justify-content: center;

}

.f_fr {
    width: 1000px;
    height: 50px;

    text-align: left;
}