.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px; /* 縦方向なので、適当な高さを与えてあげてください。 */
}
.box1 {
    width: 100px;
    height: 100px;
    background-color: red;
}
.box2 {
    width: 100px;
    height: 100px;
    background-color: blue;
}
.box3 {
    width: 100px;
    height: 100px;
    background-color: yellow;
}