.header {
    width: 400px;
    height: 100px;
    background-color: red;
}

.main {
    display: flex;
}

.left {
    width: 200px;
    height: 100px;
    background-color: green;
}

.right {
    width: 200px;
    height: 100px;
    background-color: pink;
}

.footer {
    width: 400px;
    height: 100px;
    background-color: yellow;
}
