.header {
    width: 400px;
    height: 100px;
    background-color: red;
}

.main {
    width: 400px;
    height: 100px;
    background-color: blue;
}

.footer {
    width: 400px;
    height: 100px;
    background-color: yellow;
}
