.header {
    width: 600px;
    height: 180px;
    background-color: #ca1019;
}

.main {
    display: flex;
}

.left {
    width: 420px;
    height: 480px;
    background-color: #309c77;
}

.right {
    width: 180px;
    height: 480px;
    background-color: #29b098;
}

.footer {
    width: 600px;
    height: 100px;
    background-color: #f4d508;
}
